body{
    margin: 0 auto;
    background: url(../images/bg.png);
    
}
#art,#menuon,#menu ul,#loogins, .container{
    background: url(../images/post.png);    
    }

.post,#menu li a,#loogins a, #back, .container a{
    background: url(../images/text.png);
   }

#main{   
    margin: 0 auto;
    width: 1000px;
    height: 1200px;
}

#loogins{
    border: 5px groove red;
    text-align: right;
    margin: 0 auto;
}

#loogins p{
    padding-right: 15px;
}

#loogins a{
    margin: 0 auto;
    font-weight: bold;
    text-decoration: none;
}

#menuon{/*меню*/
    height: 78px;
    border: 5px groove red;
    margin-top: 70px;
}

#art{/*посты*/
    padding: 15px;
    margin-top: 25px;
    border: 5px groove red;
}

.post{
    padding: 15px;
    border: 2px dotted red;
}

#tname{
    font-size: 180%;
}

#text{
    font-size: 150%;
    padding: 10px;
}

small {
    color: gray;
    font-style: italic;
}

#footer{/*футер*/
    border: 5px groove red;
    padding-top: 15px;
    margin-top: 25px;
    background: url(../images/footer.png);
}
#cop{/*копирайт*/
    font-size: 200%;
    color: red;
    background: black;
    text-align: center;
}
#menu {
    display: block;
    margin: 0 auto;
    box-shadow: 0 1px 1px rgba(20, 20, 20, 0.2);
    cursor: pointer;
    outline: none;
    font-weight: bold;

}

#menu li { 
    display: block; 
    position: relative; 
    float: left;  
    text-shadow: 1px 1px 0 #fff;
    padding-left: 45px;
    padding-right: 45px;
}

#onelink{
    padding-bottom: 10px;
}

#menu li a {
  line-height: 78px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  
}
#menu li:hover > a { color: red;}
#menu li:hover span { font-size: 150%;}

#menu ul {
  position: absolute;
  top: 88px;
  display: none;
  list-style: none;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  -webkit-padding-start: 0px;
}
#menu ul:after {
  content: "";
  width: 0;
  height: 0;
  position:absolute;
  bottom: 100%;
  left: 8px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: #fff transparent;
}

#menu ul:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) transparent;  
}

#menu ul li { 
  display: block; 
  text-shadow: 1px 1px 0 #fff;
}

#menu ul li a {
  display: inline-block;
  width: 100px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#menu ul li a:hover {
  padding: 10px;
}