body{
    padding-top: 120px;
    font-family: Arial;
    font-weight: bold;
    margin: 0 auto;
    height: 1200px;
    width: 500px;
}
.block {
    text-align: center; 
}

.block i a{
    color: red;
    font-size: 25px;
}

.container {
    border: 5px groove red; 
    display: block;
    position: relative;
    float: left;
    outline: none;
    font-weight: bold;
}


.container li{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted fuchsia;
}

a:hover{
    color:green;
    border-bottom: green;
}

small {
    color: gray;
    font-style: italic;
}

p{
  line-height: 25px;  
}

ol{
    padding: 0px;
}

ol li{
    line-height: 50px; 
    float: left;
    display: block;
    margin: 0 auto;
    position: relative;
}

input[type=text], input[type=password], textarea{
    -webkit-appearance: none;
    padding: 5px;
    border: 1px solid #ccc;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus{
    outline: none;
}